*.iml
.gradle
/local.properties
.idea
.DS_Store
.build
/build
/captures
.externalNativeBuild
/app/build
*.aar
/mapfit-gl/
/sample/src/main/java/com/mapfit/demo/LabJavaActivity.java
android-sdk/src/debug/res/values/
appcompat-v7/
gradle/gradle-wrapper.properties
mapfit_local.properties
