*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
.build
/captures
.externalNativeBuild
/src/main/java/com/mapfit/demo/LabActivity.kt
/src/main/java/com/mapfit/demo/LabJavaActivity.java
/src/main/res/layout/activity_lab.xml
